.btnHireme,
.btnHireme *,
.btnHireme :after,
.btnHireme :before,
.btnHireme:after,
.btnHireme:before {
    border: 0 solid;
    box-sizing: border-box;
}
.btnHireme {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 97%;
    line-height: 0.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}
.btnHireme:disabled {
    cursor: default;
}
.btnHireme:-moz-focusring {
    outline: auto;
}
.btnHireme svg {
    display: block;
    vertical-align: middle;
}
.btnHireme [hidden] {
    display: none;
}
.btnHireme{
    --neon: #226a89;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    outline: 4px solid #fff;
    outline-offset: -4px;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s linear 0.1s;
}
.btnHireme:hover {
    background: var(--neon);
    box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
    0 0 100px var(--neon);
    color: #fff;
    outline-color: transparent;
    transition: 0.2s linear 0.6s;
}
.btnHireme span {
    display: block;
    inset: 0;
    position: absolute;
}
.btnHireme .top {
    border-top: 4px solid var(--neon);
    opacity: 0;
    transform: translateX(calc(-100% + var(--progress, 0%)));
    transition: none;
}
.btnHireme:hover .top {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear;
}
.btnHireme .right {
    border-right: 4px solid var(--neon);
    opacity: 0;
    transform: translateY(calc(-100% + var(--progress, 0%)));
    transition: none;
}
.btnHireme:hover .right {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.2s;
}
.btnHireme .bottom {
    border-bottom: 4px solid var(--neon);
    opacity: 0;
    transform: translateX(calc(100% - var(--progress, 0%)));
    transition: none;
}
.btnHireme:hover .bottom {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.4s;
}
.btnHireme .left {
    border-left: 4px solid var(--neon);
    opacity: 0;
    transform: translateY(calc(100% - var(--progress, 0%)));
    transition: none;
}
.btnHireme:hover .left {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.6s;
}