footer {
    position: absolute;
    width:100%;
    height: 62px;
    left: 0px;
    top: 5664px;
    background: rgba(71, 66, 66, 0.46);
}

footer > h4 {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    color: #0a0a0a;
}


/*================================== 320->Mobile -S ==================================*/

@media all and (max-width: 320px){
    footer {
        position: absolute;
        width:100%;
        height: 47px;
        left: 0px;
        top: 4713px;
        background: rgba(71, 66, 66, 0.46);
    }

    footer > h4 {
        text-align: center;
        margin-top: 0px;
        padding-top: 4px;
        color: #0a0a0a;
        font-size: 10px;
    }
}

/*================================== 375->Mobile -M ==================================*/

@media all and (min-width: 321px) and (max-width: 375px){
    footer {
        position: absolute;
        width:100%;
        height: 47px;
        left: 0px;
        top: 4689px;
        background: rgba(71, 66, 66, 0.46);
    }

    footer > h4 {
        text-align: center;
        margin-top: 0px;
        padding-top: 4px;
        color: #0a0a0a;
        font-size: 10px;
    }
}

/*================================== 425->Mobile -L ==================================*/

@media all and (min-width: 376px) and (max-width: 425px){
    footer {
        position: absolute;
        width:100%;
        height: 47px;
        left: 0px;
        top: 4709px;
        background: rgba(71, 66, 66, 0.46);
    }

    footer > h4 {
        text-align: center;
        margin-top: 0px;
        padding-top: 4px;
        color: #0a0a0a;
        font-size: 10px;
    }
}

/*================================== 768->Tablet==================================*/

@media all and (min-width: 426px) and (max-width: 768px){
    footer {
        position: absolute;
        width:100%;
        height: 47px;
        left: 0px;
        top: 4549px;
        background: rgba(71, 66, 66, 0.46);
    }

    footer > h4 {
        text-align: center;
        margin-top: 0px;
        padding-top: 4px;
        color: #0a0a0a;
        font-size: 10px;
    }
}

/*================================== 1024->Laptop==================================*/

@media all and (min-width: 769px) and (max-width: 1024px){
    footer {
        position: absolute;
        width:100%;
        height: 62px;
        left: 0px;
        top: 5738px;
        background: rgba(71, 66, 66, 0.46);
    }

    footer > h4 {
        text-align: center;
        margin-top: 0px;
        padding-top: 20px;
        color: #0a0a0a;
    }
}