.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("resourses/images/background.jpg");
    background-size: cover;

}
.ninjagirl{
    position: absolute;
    width: 100px;
    height: 174px;
    left: 2vw;
    margin-top: 281px;
    background-image: url("resourses/images/Idle__000.png");
    background-size: cover;
    z-index: 2;
}