.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("resourses/images/background2.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    position:absolute;
    overflow-x:hidden;

}
.ninjagirlTopic{
    position:absolute;
    width: 36vw;
    height: 19vh;
    right: 0vw;
    top: -80.6px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    font-size: 61px;
    line-height: 155px;
    color: #e8c40c;
    z-index: 2;
}
.ninjagirl{
    position: absolute;
    width: 149px;
    height: 220px;
    left: 2vw;
    top: 366px;
    z-index: 2;
}

.box{
    width: 326px;
    height: 193px;
    /*background-color: rgba(146, 86, 68, 0.83);*/
    position: absolute;
    top: 428px;
    background-image: url("resourses/images/tiger.gif");
    background-size: contain;
    background-repeat: no-repeat;
}