.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("resourses/images/background2.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    position:absolute;
    overflow-x:hidden;

}
.ninjagirlTopic{
    position:absolute;
    width: 36vw;
    height: 19vh;
    right: 0vw;
    top: -80.6px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    font-size: 61px;
    line-height: 155px;
    color: #e8c40c;
    z-index: 2;
}
.ninjagirl{
    position: absolute;
    width: 149px;
    height: 220px;
    left: 2vw;
    top: 366px;
    z-index: 2;
}

.box{
    width: 200px;
    height: 158px;
    /*background-color: rgba(146, 86, 68, 0.83);*/
    position: absolute;
    top: 445px;
    background-image: url("resourses/images/tiger.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.score{
    background-color: #908207;
    font-size:45px ;
    top: 9.4px;
    font-family: 'Irish Grover', cursive;
    width: 12vw;
    height: 7vh;
    text-align: center;
    font-weight: bold;
    left: 2vw;
   /* z-index: 3;*/
    position: absolute;
    color: #0a0102;
    border-radius: 15%;
    border-color: #0a0102;
}

.end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family:'Shippori Mincho', serif ;
    visibility: hidden;
}

.go{
    color: #c4c408;
}

.level{
    font-size: 50px;
    font-weight: bold;
    margin-left: 40vw;
    color:black;
    margin-top: 10px;
    position: absolute;
    font-family: 'Irish Grover', cursive;

}

#levelTopic{
    font-size: 50px;
    font-weight: bold;
    margin-left: 29vw;
    margin-top:10px;
    position: absolute;
    width: 176px;
    color:black;
    font-family: 'Irish Grover', sans-serif;

}

.btnTry{
    width: 15vw;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: #0b4452;
    border: none;
    color: whitesmoke;
    border-radius: 20%;
}

.btnTry:hover{
    background-color: #a3839c;
    color: #0a0102;
    width: 15vw;
    height: 50px;
    cursor: pointer;
  /*  background-color:rgb();*/
    font-family:'Shippori Mincho', serif ;
    transition-duration: 0.5s;

}

.sd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("resourses/images/StartBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
   /* background-color: black;*/
}

.startTopic{
    position: relative;
    font-family:'IM Fell English', serif;
    text-transform: uppercase;
    font-size:4em;
    letter-spacing: 2px;
    background: linear-gradient(90deg, rgb(95, 22, 4), #6dc72c, rgb(3, 1, 3));
    background-repeat: no-repeat;
    background-size: 500px;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0%{
        background-position: -100%;
    }
    100%{
        background-position: 100%;
    }
}

.btnStart{
    width: 15vw;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: #0b4452;
    color: #f5f5f5;
    border: none;
    border-radius: 30%;

}

.btnStart:hover{
    background-color: #615503;
    width: 250px;
    cursor: pointer;
    font-family:'IM Fell English', serif;
    transition-duration: 0.5s;
}
.instructionBox{
    position: absolute;
    width: 26vw;
    height: 200px;
    background-color: #010e11;
    border-radius: 30%;
    top: 28px;
}
.topicInstruction{
    font-size: 50px;
    color:snow;
    text-align: center;
    font-family:'IM Fell English', serif;

}

.list{
    font-size: 25px;
    color: whitesmoke;
    font-family: 'IM Fell English', serif;
}

.win{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #490a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: 'Irish Grover', sans-serif;
    visibility: hidden;
}

.wi{
    width: 175px;
    height: 165px;
    background-image: url("resourses/images/Ninja Girl Logo.jpg");
    background-size: cover;
    background-position: center;

}
.btnPlay{
    width: 15vw;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: #0b4452;
    color: #f5f5f5;
    border: none;
    border-radius: 30%;
}
.btnPlay:hover{
    background-color: #615503;
    width: 250px;
    cursor: pointer;
    font-family:'IM Fell English', serif;
    transition-duration: 0.5s;
}
.Cong{
    position: relative;
    font-family:'IM Fell English', serif;
    text-transform: uppercase;
    font-size:2em;
    letter-spacing: 2px;
    background: linear-gradient(90deg, rgb(234, 222, 219), #e79811, rgb(101, 77, 101));
    background-repeat: no-repeat;
    background-size: 500px;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0%{
        background-position: -100%;
    }
    100%{
        background-position: 100%;
    }
}




