
/*About me section*/
main>section:nth-child(2){
    position: relative;
    height: calc(100vh / 6) ;
    width: 87vw;
    top: 720px;
    left: 22px;
    z-index:6;
}

/*vector 7 black*/
main>section:nth-child(2)>section>div:first-child{
    position: absolute;
    width: 835px;
    height: 71px;
    left: 2vw;
    top: 31px;
    background: url("../../Vector 7.png");
    background-size:cover;
    background-position: center;
    z-index: 5;
}

/*pink line about me*/
main>section:nth-child(2)>section>div:nth-child(2){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: 0vw;
    top: 45px;
    border: 3px solid #AB9697;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*red line about me*/
main>section:nth-child(2)>section>div:nth-child(3){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: -4vw;
    top: 74px;
    border: 2px solid #AC1F38;
    transform: rotate(-0.19deg);
    z-index: 6;
}

/*About me banner*/
main>section:nth-child(2)>section>h1:nth-child(4){
    position: absolute;
    width: 730px;
    height: 115px;
    left: 4vw;
    top: -47px;
    font-family: 'Shippori Mincho', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 139px;
    color: #FFFFFF;
    z-index: 6;
}

/*rectangle about me*/
main>section:nth-child(2)>section>div:nth-child(5){
    position: absolute;
    width: 92vw;
    height: 809px;
    left: 2vw;
    top: 124px;
    background: #9A9090;
    opacity: 0.9;
    border-radius: 50px;
    z-index: 5;
}

/*tool behind my 2nd photo*/
main>section:nth-child(2)>section>div:nth-child(5)>div:first-child{

    position: absolute;
    background: url("../../Polygon 1.png");
    background-size:cover;
    background-position: center;
    width: 20vw;
    height: 399px;
    left: 3vw;
    top: 36px;
    background: rgba(13, 13, 13, 0.8);
    opacity: 0.8;
    border: 3px solid #000000;
    transform: rotate(-0.97deg);
    z-index: 6;
}

/*2nd tool behind the photo*/
main>section:nth-child(2)>section>div:nth-child(5)>div:first-child>div{

    position: absolute;
    background: url("../../Polygon 1.png");
    background-size:cover;
    background-position: center;
    width: 20vw;
    height: 399px;
    left: 4vw;
    top: 36px;
    background: rgba(13, 13, 13, 0.8);
    opacity: 0.8;
    border: 3px solid #000000;
    transform: rotate(-0.97deg);
    z-index: 6;
}

/*Im oshani madhushika red one*/
main>section:nth-child(2)>section>div:nth-child(5)>h1:nth-child(2){

    position: absolute;
    width: 492px;
    height: 100px;
    right: 10vw;
    top: 43px;
    font-family: 'Italianno', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 51px;
    color: #AC1F38;
    z-index: 6;
    margin-top: 30px;
    margin-bottom: 30px;

}

/*My 2nd 4to*/
main>section:nth-child(2)>section>div:nth-child(5)>div:first-child>div>div{
    position: absolute;
    background:linear-gradient(rgba(24, 23, 22, -81.5), rgba(100, 100, 100, -74.5)), url("../../PicsArt_07-22-08.08.12.png");
    background-size:cover;
    background-position: center;
    width: 311px;
    height: 399px;
    left: 2vw;
    top: 36px;
    border-radius: 30px;
    opacity: 100%;
    z-index:8;
}

/* 1st paragraph about me*/
main>section:nth-child(2)>section>div:nth-child(5)>p:nth-child(3){
    position: absolute;
    width: 464px;
    height: 199px;
    right: 3vw;
    /*left: 590px;*/
    top: 144px;
    font-family:'Sansita', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #0a0a0a;
    z-index: 6;

}

<!-- /* 2st paragraph about me*/-->
main>section:nth-child(2)>section>div:nth-child(5)>p:nth-child(4){
    position: absolute;
    width: 462px;
    height: 307px;
    right: 6vw;
    top: 361px;
    font-family: 'Sansita', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #090808;
    z-index: 6;

}

/*list in about me*/
main>section:nth-child(2)>section>div:nth-child(5)>ul:nth-child(5){
    position: absolute;
    width: 716px;
    height: 249px;
    left: 2vw;
    top: 553px;
    font-family: 'Sansita', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #0a0a0a;
    z-index: 6;
    list-style: none;

}