/*Project section*/
main>section:nth-child(5){
    position: relative;
    height: calc(100vh /6) ;
    width: 87vw;
    top: 3412px;
    left: 22px;
    z-index:6;
}

/*vector 7 black*/
main>section:nth-child(5)>section>div:first-child{
    position: absolute;
    width: 835px;
    height: 71px;
    left: 2vw;
    top: -30px;
    background: url("../../Vector 7.png");
    background-size:cover;
    background-position: center;
    z-index: 5;
}

/*pink line Education*/
main>section:nth-child(5)>section>div:nth-child(2){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: 0vw;
    top: -13px;
    border: 3px solid #AB9697;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*red line Education*/
main>section:nth-child(5)>section>div:nth-child(3){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: -4vw;
    top: 16px;
    border: 2px solid #AC1F38;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*Projects banner*/
main>section:nth-child(5)>section>h1:nth-child(4){
    position: absolute;
    width: 730px;
    height: 115px;
    left: 3vw;
    top: -103px;
    font-family: 'Shippori Mincho', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 139px;
    color: #FFFFFF;
    z-index: 6;
}
/*rectangle Project*/
main>section:nth-child(5)>section>div:nth-child(5){
    position: absolute;
    width: 94vw;
    height: 888px;
    left: 2vw;
    top: 74px;
    background: #9A9090;
    opacity: 0.9;
    border-radius: 50px;
    z-index: 5;
}
/*1st paragraph*/
main>section:nth-child(5)>section>div:nth-child(5)>p:first-child{
    position: absolute;
    width: 86vw;
    height: 111px;
    left: 63px;
    top: -22px;
    font-family: 'Sansita',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #000000;

}
/*2nd paragraph*/
main>section:nth-child(5)>section>div:nth-child(5)>h3:nth-child(2){
    position: absolute;
    width: 86vw;
    height: 111px;
    left: 26px;
    top: 118px;
    font-family: 'Irish Grover',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    color: #000000;
}

/*Car Parking*/
main>section:nth-child(5)>section>div:nth-child(5)>div:nth-child(3){
    position: absolute;
    width: 44vw;
    height: 181px;
    left: 74px;
    top: 218px;
    background: url("../../Ellipse 2.png");
    opacity: 1.8;
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*Car Parking Topic*/
main>section:nth-child(5)>section>div:nth-child(5)>div:nth-child(3)>dd{
    position: absolute;
    width: 86vw;
    height: 111px;
    left: 26px;
    top: 34px;
    font-family: 'Sigmar One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    color: #000000;
    z-index: 7;
}
/*Car Parking View Button*/
main>section:nth-child(5)>section>div:nth-child(5)>div:nth-child(3)>button{
    box-sizing: border-box;
    position: absolute;
    width: 13vw;
    height: 50px;
    left: 182px;
    top: 93px;
    background: #0D0D0D;
    border: 1px solid #22FAD3;
    z-index: 7;
    color: whitesmoke;
    font-family:'Sigmar One',cursive;
    font-size:20px ;
}


/*Cake Bakery*/
main>section:nth-child(5)>section>div:nth-child(5)>div:nth-child(4){
    position: absolute;
    width: 44vw;
    height: 181px;
    left: 74px;
    top: 447px;
    background: url("../../Ellipse 3.png");
    opacity: 1.8;
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*Cake Bakery Topic*/
main>section:nth-child(5)>section>div:nth-child(5)>div:nth-child(4)>dd{
    position: absolute;
    width: 86vw;
    height: 111px;
    left: 26px;
    top: 40px;
    font-family: 'Sigmar One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    color: #000000;
    z-index: 7;
}
/*Cake Bakery View Button*/
main>section:nth-child(5)>section>div:nth-child(5)>div:nth-child(4)>button{
    box-sizing: border-box;
    position: absolute;
    width: 13vw;
    height: 50px;
    left: 182px;
    top: 100px;
    background: #0D0D0D;
    border: 1px solid #22FAD3;
    z-index: 7;
    color: whitesmoke;
    font-family:'Sigmar One',cursive;
    font-size:20px ;
}