/*Skill section*/
main>section:nth-child(4){
    position: relative;
    height: calc(100vh /6) ;
    width: 87vw;
    top: 2758px;
    left: 22px;
    z-index:6;
}
/*vector 7 black*/
main>section:nth-child(4)>section>div:first-child{
    position: absolute;
    width: 835px;
    height: 71px;
    left: 2vw;
    top: -12px;
    background: url("../../Vector 7.png");
    background-size:cover;
    background-position: center;
    z-index: 6;
}
/*pink line skills*/
main>section:nth-child(4)>section>div:nth-child(2){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: 0vw;
    top: 7px;
    border: 3px solid #AB9697;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*red line Skills*/
main>section:nth-child(4)>section>div:nth-child(3){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: -7vw;
    top: 40px;
    border: 2px solid #AC1F38;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*My Skills banner*/
main>section:nth-child(4)>section>h1:nth-child(4){
    position: absolute;
    width: 730px;
    height: 115px;
    left: 3vw;
    top: -80px;
    font-family: 'Shippori Mincho', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 139px;
    color: #FFFFFF;
    z-index: 6;
}
/*rectangle Skills*/
main>section:nth-child(4)>section>div:nth-child(5){
    position: absolute;
    width: 94vw;
    height: 600px;
    left: 2vw;
    top: 96px;
    background: #9A9090;
    opacity: 0.9;
    border-radius: 50px;
    z-index: 5;
}
/*rectangle Design*/
main>section:nth-child(4)>section>div:nth-child(5)>div:first-child{
    box-sizing: border-box;
    position: absolute;
    width: 26vw;
    height: 285px;
    left: 2vw;
    top: 48px;
    background: url("../../Rectangle 49.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
    border: 3px solid #000000;
    border-radius: 60px;
}
/*rectangle Others*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2){
    box-sizing: border-box;
    position: absolute;
    width: 26vw;
    height: 285px;
    left: 18vw;
    top: 245px;
    background: url("../../Rectangle 49.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
    border: 3px solid #000000;
    border-radius: 60px;
}

/*title Design*/
main>section:nth-child(4)>section>div:nth-child(5)>div:first-child>dt{
    position: absolute;
    width: 26vw;
    height: 265px;
    left: 6vw;
    top: -3px;
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    color: #000000;
    z-index: 7;
}

/*detail Design*/
main>section:nth-child(4)>section>div:nth-child(5)>div:first-child>div:nth-child(2){
    position: absolute;
    width: 26vw;
    height: 265px;
    left: -1vw;
    top: 61px;
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 35px;
    color: #000000;
    z-index: 7;
}
