/*Skill section*/
main>section:nth-child(4){
    position: relative;
    height: calc(100vh /6) ;
    width: 87vw;
    top: 2758px;
    left: 22px;
    z-index:6;
}
/*vector 7 black*/
main>section:nth-child(4)>section>div:first-child{
    position: absolute;
    width: 835px;
    height: 71px;
    left: 2vw;
    top: -12px;
    background: url("../../Vector 7.png");
    background-size:cover;
    background-position: center;
    z-index: 6;
}
/*pink line skills*/
main>section:nth-child(4)>section>div:nth-child(2){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: 0vw;
    top: 7px;
    border: 3px solid #AB9697;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*red line Skills*/
main>section:nth-child(4)>section>div:nth-child(3){
    position: absolute;
    width: 50vw;
    height: 0px;
    right: -7vw;
    top: 40px;
    border: 2px solid #AC1F38;
    transform: rotate(-0.19deg);
    z-index: 6;
}
/*My Skills banner*/
main>section:nth-child(4)>section>h1:nth-child(4){
    position: absolute;
    width: 730px;
    height: 115px;
    left: 3vw;
    top: -80px;
    font-family: 'Shippori Mincho', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 139px;
    color: #FFFFFF;
    z-index: 6;
}
/*rectangle Skills*/
main>section:nth-child(4)>section>div:nth-child(5){
    position: absolute;
    width: 94vw;
    height: 600px;
    left: 2vw;
    top: 96px;
    background: #9A9090;
    opacity: 0.9;
    border-radius: 50px;
    z-index: 5;
}
/*rectangle Design*/
main>section:nth-child(4)>section>div:nth-child(5)>div:first-child{
    box-sizing: border-box;
    position: absolute;
    width: 26vw;
    height: 285px;
    left: 2vw;
    top: 48px;
    background: url("../../Rectangle 49.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
    border: 3px solid #000000;
    border-radius: 60px;
}
/*rectangle Others*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2){
    box-sizing: border-box;
    position: absolute;
    width: 26vw;
    height: 285px;
    left: 18vw;
    top: 245px;
    background: url("../../Rectangle 49.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
    border: 3px solid #000000;
    border-radius: 60px;
}

/*title Design*/
main>section:nth-child(4)>section>div:nth-child(5)>div:first-child>dt{
    position: absolute;
    width: 26vw;
    height: 265px;
    left: 6vw;
    top: -3px;
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    color: #000000;
    z-index: 7;
}

/*detail Design*/
main>section:nth-child(4)>section>div:nth-child(5)>div:first-child>div:nth-child(2){
    position: absolute;
    width: 26vw;
    height: 265px;
    left: -1vw;
    top: 61px;
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    z-index: 7;
}
/*title Others*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2)>dt{
    position: absolute;
    width: 26vw;
    height: 265px;
    left: 7vw;
    top: -2px;
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    color: #000000;
    z-index: 7;
}

/*detail others*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2)>div:nth-child(2){
    position: absolute;
    width: 26vw;
    height: 265px;
    left: 3vw;
    top: 61px;
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    z-index: 7;
}
/*Java icon*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(3){
    position: absolute;
    width: 5vw;
    height: 79px;
    left: 30vw;
    top: 48px;
    background: url("../../Rectangle 52.png");
    background-size: cover;
    background-position: center;
    z-index: 6;

}

/*JS icon*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(4){
    position: absolute;
    width: 5vw;
    height: 70px;
    left: 38vw;
    top: 54px;
    background: url("../../Rectangle 53.png");
    background-size: cover;
    background-position: center;
    z-index: 6;

}

/*MYSQL icon*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(5){
    position: absolute;
    width: 7vw;
    height: 72px;
    left: 46vw;
    top: 54px;
    background: url("../../Rectangle 56.png");
    background-size: cover;
    background-position: center;
    z-index: 6;

}

/*CSS icon*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(6){
    position: absolute;
    width: 5vw;
    height: 59px;
    left: 30vw;
    top: 158px;
    background: url("../../Rectangle 54.png");
    background-size: cover;
    background-position: center;
    z-index: 6;

}

/*Hibernate icon*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(7){
    position: absolute;
    width: 5vw;
    height: 74px;
    left: 38vw;
    top: 152px;
    background: url("../../Rectangle 55.png");
    background-size: cover;
    background-position: center;
    z-index: 6;

}
/*HTML icon*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(8){
    position: absolute;
    width: 7vw;
    height: 72px;
    left: 46vw;
    top: 152px;
    background: url("../../Rectangle 57.png");
    background-size: cover;
    background-position: center;
    z-index: 6;

}

/*Title Tools*/
main>section:nth-child(4)>section>div:nth-child(5)>h1:nth-child(9){
    position: absolute;
    width: 14vw;
    height: 72px;
    left: 70vw;
    top: 198px;
    font-family: 'Candal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 83px;
    color: #000000;
}


/*VS*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(10){
    position: absolute;
    width: 5vw;
    height: 52px;
    left: 72vw;
    top: 152px;
    background: url("../../Ellipse 20.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*Figma*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(11){
    position: absolute;
    width: 5vw;
    height: 52px;
    left: 82vw;
    top: 170px;
    background: url("../../Ellipse 21.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}
/*GitHub*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(12){
    position: absolute;
    width: 8vw;
    height: 52px;
    left: 85vw;
    top: 241px;
    background: url("../../Ellipse 22.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*LightRoom*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(13){
    position: absolute;
    width: 6vw;
    height: 56px;
    left: 83vw;
    top: 325px;
    background: url("../../Ellipse 23.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*WireFrame*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(14){
    position: absolute;
    width: 6vw;
    height: 55px;
    left: 73vw;
    top: 359px;
    background: url("../../Ellipse 18.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*IJ*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(15){
    position: absolute;
    width: 6vw;
    height: 55px;
    left: 63vw;
    top: 327px;
    background: url("../../Ellipse 17.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}
/*SceneBuilder*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(16){
    position: absolute;
    width: 6vw;
    height: 55px;
    left: 60vw;
    top: 241px;
    background: url("../../Ellipse 16.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

/*NetBeans*/
main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(17){
    position: absolute;
    width: 8vw;
    height: 55px;
    left: 62vw;
    top: 161px;
    background: url("../../Ellipse 19.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}
/*================================== 320->Mobile -S ==================================*/

@media all and (max-width: 320px){
    /*Skill section*/
    main>section:nth-child(4){
        position: relative;
        height: calc(100vh /6) ;
        width: 87vw;
        top: 1692px;
        left: 22px;
        z-index:6;
    }
    /*vector 7 black*/
    main>section:nth-child(4)>section>div:first-child{
        position: absolute;
        width: 62vw;
        height: 6vh;
        left: -3vw;
        top: -4px;
        background: url("../../Vector 7.png");
        background-size:cover;
        background-position: center;
        z-index: 6;
    }
    /*pink line skills*/
    main>section:nth-child(4)>section>div:nth-child(2){
        position: absolute;
        width: 44vw;
        height: 0vh;
        right: 0vw;
        top: 2px;
        border: 3px solid #AB9697;
        transform: rotate(-0.19deg);
        z-index: 6;
    }
    /*red line Skills*/
    main>section:nth-child(4)>section>div:nth-child(3){
        position: absolute;
        width: 39vw;
        height: 0vh;
        left: 46vw;
        top: 16px;
        border: 2px solid #AC1F38;
        transform: rotate(-0.19deg);
        z-index: 6;
    }
    /*My Skills banner*/
    main>section:nth-child(4)>section>h1:nth-child(4){
        position: absolute;
        width: 53vw;
        height: 20vh;
        left: -2vw;
        top: -28px;
        font-family: 'Shippori Mincho', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 53px;
        color: #FFFFFF;
        z-index: 6;
    }
    /*rectangle Skills*/
    main>section:nth-child(4)>section>div:nth-child(5){
        position: absolute;
        width: 92vw;
        height: 145vh;
        left: -2vw;
        top: 55px;
        background: #9A9090;
        opacity: 0.9;
        border-radius: 50px;
        z-index: 5;
    }
    /*rectangle Design*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:first-child{
        box-sizing: border-box;
        position: absolute;
        width: 55vw;
        height: 172px;
        left: 2vw;
        top: 31px;
        background: url("../../Rectangle 49.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
        border: 3px solid #000000;
        border-radius: 60px;
    }
    /*rectangle Others*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2){
        box-sizing: border-box;
        position: absolute;
        width: 55vw;
        height: 172px;
        left: 33vw;
        top: 155px;
        background: url("../../Rectangle 49.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
        border: 3px solid #000000;
        border-radius: 60px;
    }

    /*title Design*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:first-child>dt{
        position: absolute;
        width: 26vw;
        height: 265px;
        left: 15vw;
        top: -14px;
        font-family: 'IM Fell English', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 61px;
        color: #000000;
        z-index: 7;
    }

    /*detail Design*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:first-child>div:nth-child(2){
        position: absolute;
        width: 47vw;
        height: 265px;
        left: -1vw;
        top: 34px;
        font-family: 'IM Fell English', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #000000;
        z-index: 7;
    }
    /*title Others*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2)>dt{
        position: absolute;
        width: 26vw;
        height: 265px;
        left: 14vw;
        top: -13px;
        font-family: 'IM Fell English', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 61px;
        color: #000000;
        z-index: 7;
    }

    /*detail others*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(2)>div:nth-child(2){
        position: absolute;
        width: 47vw;
        height: 265px;
        left: 3vw;
        top: 34px;
        font-family: 'IM Fell English', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #000000;
        z-index: 7;
    }
    /*Java icon*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(3){
        position: absolute;
        width: 7vw;
        height: 50px;
        left: 60vw;
        top: 48px;
        background: url("../../Rectangle 52.png");
        background-size: cover;
        background-position: center;
        z-index: 6;

    }

    /*JS icon*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(4){
        position: absolute;
        width: 7vw;
        height: 46px;
        left: 79vw;
        top: 54px;
        background: url("../../Rectangle 53.png");
        background-size: cover;
        background-position: center;
        z-index: 6;

    }

    /*MYSQL icon*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(5){
        position: absolute;
        width: 11vw;
        height: 34px;
        left: 68vw;
        top: 110px;
        background: url("../../Rectangle 56.png");
        background-size: cover;
        background-position: center;
        z-index: 6;

    }

    /*CSS icon*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(6){
        position: absolute;
        width: 10vw;
        height: 27px;
        left: 3vw;
        top: 205px;
        background: url("../../Rectangle 54.png");
        background-size: cover;
        background-position: center;
        z-index: 6;

    }

    /*Hibernate icon*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(7){
        position: absolute;
        width: 11vw;
        height: 50px;
        left: 20vw;
        top: 197px;
        background: url("../../Rectangle 55.png");
        background-size: cover;
        background-position: center;
        z-index: 6;

    }
    /*HTML icon*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(8){
        position: absolute;
        width: 10vw;
        height: 31px;
        left: 12vw;
        top: 250px;
        background: url("../../Rectangle 57.png");
        background-size: cover;
        background-position: center;
        z-index: 6;

    }

    /*Title Tools*/
    main>section:nth-child(4)>section>div:nth-child(5)>h1:nth-child(9){
        position: absolute;
        width: 14vw;
        height: 72px;
        left: 34vw;
        top: 364px;
        font-family: 'Candal', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 83px;
        color: #000000;
    }


    /*VS*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(10){
        position: absolute;
        width: 5vw;
        height: 52px;
        left: 72vw;
        top: 152px;
        background: url("../../Ellipse 20.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }

    /*Figma*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(11){
        position: absolute;
        width: 5vw;
        height: 52px;
        left: 82vw;
        top: 170px;
        background: url("../../Ellipse 21.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }
    /*GitHub*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(12){
        position: absolute;
        width: 8vw;
        height: 52px;
        left: 85vw;
        top: 241px;
        background: url("../../Ellipse 22.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }

    /*LightRoom*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(13){
        position: absolute;
        width: 6vw;
        height: 56px;
        left: 83vw;
        top: 325px;
        background: url("../../Ellipse 23.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }

    /*WireFrame*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(14){
        position: absolute;
        width: 6vw;
        height: 55px;
        left: 73vw;
        top: 359px;
        background: url("../../Ellipse 18.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }

    /*IJ*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(15){
        position: absolute;
        width: 6vw;
        height: 55px;
        left: 63vw;
        top: 327px;
        background: url("../../Ellipse 17.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }
    /*SceneBuilder*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(16){
        position: absolute;
        width: 6vw;
        height: 55px;
        left: 60vw;
        top: 241px;
        background: url("../../Ellipse 16.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }

    /*NetBeans*/
    main>section:nth-child(4)>section>div:nth-child(5)>div:nth-child(17){
        position: absolute;
        width: 8vw;
        height: 55px;
        left: 62vw;
        top: 161px;
        background: url("../../Ellipse 19.png");
        background-size: cover;
        background-position: center;
        z-index: 6;
    }

}
