/* <!--header details-->*/
header{
    background-color: #383636;
    position: fixed;
    width: 100%;
    top: 0;
    height: 39px;
    z-index: 10;
}

/*  <!--header nav-->*/
header>nav{
    position: absolute;
    right: 40px;
    top: -32px;

}
/*  <!--header li(home,contact....)-->*/
header>nav>ul>li{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(245, 240, 240, 0.96);
    font-size: 15px;
    margin-top: 15px;

}
/*header home ,concact got white touch*/
header>nav> ul>li>a{
    color: rgba(253, 251, 251, 0.96);
    text-decoration: none;
}
/*header home ,concact got green touch after put the curser on*/
header ul>li:hover a{
    color: rgba(145, 228, 12, 0.89);
}

/*================================== 320->Mobile -S ==================================*/

@media all and (max-width: 320px){
    /* <!--header details-->*/
    header{
        background-color: #383636;
        position: fixed;
        width: 100%;
        top: 0;
        height: 66px;
        z-index: 10;
    }

    /*  <!--header nav-->*/
    header>nav{
        width: 91vw;
        left: -11vw;
        top: -20px;
    }
    /*  <!--header li(home,contact....)-->*/
    header>nav>ul>li{
        display: inline-block;
        cursor: pointer;
        padding: 3px;
        font-family: 'Poppins', sans-serif;
        color: rgba(245, 240, 240, 0.96);
        font-size: 11px;
        margin-top: 15px;

    }


    }

/*================================== 375->Mobile -M ==================================*/

@media all and (min-width: 321px) and (max-width: 375px){

    /* <!--header details-->*/
    header{
        background-color: #383636;
        position: fixed;
        width: 100%;
        top: 0;
        height: 34px;
        z-index: 10;
    }

    /*  <!--header nav-->*/
    header>nav{
        width: 95vw;
        left: -2vw;
        top: -20px;
    }
    /*  <!--header li(home,contact....)-->*/
    header>nav>ul>li{
        display: inline-block;
        cursor: pointer;
        padding: 3px;
        font-family: 'Poppins', sans-serif;
        color: rgba(245, 240, 240, 0.96);
        font-size: 11px;
        margin-top: 15px;

    }


}

/*================================== 425->Mobile -L ==================================*/

@media all and (min-width: 376px) and (max-width: 425px){

    /* <!--header details-->*/
    header{
        background-color: #383636;
        position: fixed;
        width: 100%;
        top: 0;
        height: 34px;
        z-index: 10;
    }

    /*  <!--header nav-->*/
    header>nav{
        width: 95vw;
        left: 10vw;
        top: -20px;
    }
    /*  <!--header li(home,contact....)-->*/
    header>nav>ul>li{
        display: inline-block;
        cursor: pointer;
        padding: 3px;
        font-family: 'Poppins', sans-serif;
        color: rgba(245, 240, 240, 0.96);
        font-size: 11px;
        margin-top: 15px;

    }


}


/*================================== 768->Tablet ==================================*/

@media all and (min-width: 426px) and (max-width: 768px){

    /* <!--header details-->*/
    header{
        background-color: #383636;
        position: fixed;
        width: 100%;
        top: 0;
        height: 34px;
        z-index: 10;
    }

    /*  <!--header nav-->*/
    header>nav{
        width: 48vw;
        left: 47vw;
        top: -20px;
    }
    /*  <!--header li(home,contact....)-->*/
    header>nav>ul>li{
        display: inline-block;
        cursor: pointer;
        padding: 3px;
        font-family: 'Poppins', sans-serif;
        color: rgba(245, 240, 240, 0.96);
        font-size: 11px;
        margin-top: 15px;

    }


}


/*================================== 1024->Laptop ==================================*/

@media all and (min-width: 769px) and (max-width: 1024px){

    /* <!--header details-->*/
    header{
        background-color: #383636;
        position: fixed;
        width: 100%;
        top: 0;
        height: 34px;
        z-index: 10;
    }

    /*  <!--header nav-->*/
    header>nav{
        width: 43vw;
        left: 53vw;
        top: -24px;
    }
    /*  <!--header li(home,contact....)-->*/
    header>nav>ul>li{
        display: inline-block;
        cursor: pointer;
        padding: 3px;
        font-family: 'Poppins', sans-serif;
        color: rgba(245, 240, 240, 0.96);
        font-size: 14px;
        margin-top: 15px;

    }


}

/*
!*================================== 1440->Laptop large ================================== *!
@media all and (min-width: 1025px) and (max-width: 1440px){
    !* <!--header details-->*!
    header{
        background-color: #383636;
        position: fixed;
        width: 100%;
        top: 0;
        height: 39px;
        z-index: 10;
    }

    !*  <!--header nav-->*!
    header>nav{
        position: absolute;
        right: 40px;
        top: -32px;

    }
    !*  <!--header li(home,contact....)-->*!
    header>nav>ul>li{
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        color: rgba(245, 240, 240, 0.96);
        font-size: 15px;
        margin-top: 15px;

    }
}*/
